.alert-radio-label { white-space : normal; }
.ws-normal { white-space : normal; }
.gray-bg { background-color : #EEEEEE; }
.button-green { color : #32DB64; border-color : #32DB64; }
.button-blue { color : #387EF5; border-color : #387EF5; }
.button-red { color : #F53D3D; border-color : #F53D3D; }
.transparent { background : transparent; }
.question-item, .slide-zoom { text-align : left; }
.question-item, .swiper-slide { align-items : baseline; }
.question-item button { white-space : normal !important; margin-bottom : 10px; }
.isQuestionCorrect { color : #32DB64; }
.isQuestionIncorrect { color : #F53D3D; }
.question-card { box-shadow : none; margin-bottom: 20px; }
.question-list .ion-list { border-left : 1px solid #C8C7CC; border-right : 1px solid #C8C7CC; }
.question-list:first-child .ion-list { border-top : 1px solid #C8C7CC; }
.top_image { width : 200px; margin : 0 auto; display : block; }
.tests-page { background : #E9F9FF; }
.tests-page scroll-content { box-shadow : inset 0 0 100px #B1E9F8; }
.about-page scroll-content { box-shadow : inset 0 0 100px #B1E9F8; }
.question-list-badge { background : rgba(255, 255, 255, 0.5); padding : 0 10px; margin : 0 10px 10px 10px; border-radius : 0 0 6px 6px; }
.message { white-space : normal; margin-bottom : 15px }