<ion-header>
	<ion-navbar>
		<ion-title>Questions</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-slides pager #questionSlideOptions (ionDidChange)="onSlideChanged()" [options]="questionSlideOptions">
		<ion-slide padding class="question-item" *ngFor="let question of questions">
			<p>{{question.id}}) {{question.title}}</p>

			<button block outline class="ws-normal" #button id="answer{{question.id}}" *ngFor="let answer of question.answers" (click)="setSelected($event, question.id, answer)">{{answer}}</button>
		</ion-slide>
	</ion-slides>
</ion-content>
