<ion-header>
	<ion-navbar>
		<ion-title>Questions</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-slides pager #questionSlideOptions (ionDidChange)="onSlideChanged()" [options]="questionSlideOptions">
		<ion-slide padding class="question-item" *ngFor="let question of questions">
			<h2>{{question.id}}) {{question.title}}</h2>

			<button block outline class="ws-normal" *ngFor="let answer of question.answers" (click)="setSelected(question.id, $event)">{{answer}}</button>
		</ion-slide>
	</ion-slides>
</ion-content>
